


<div class="col-md-4">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Add New</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form" class="form-horizontal">
          <!-- text input -->
          <div class="form-group">
            <label class="col-sm-3">ID</label>
            <div class="col-sm-9"><input type="text" class="form-control" placeholder="Enter ..."></div>
  
  
          </div>


          <div class="form-group">
              <label class="col-sm-3">Branch</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option>option 1</option>
                </select></div>
    
    
            </div>
            <div class="form-group">
              <label class="col-sm-3">Series</label>
              <div class="col-sm-9"> <select class="form-control">
                  <option>option 1</option>
                </select></div>
    
            </div>


          <div class="form-group">
            <label class="col-sm-3">Model</label>
            <div class="col-sm-9"><select class="form-control">
                <option>option 1</option>
              </select></div>
          </div>

          <div class="form-group">
              <label class="col-sm-3">Year</label>
              <div class="col-sm-9"><select class="form-control">
                  <option>2019</option>
                </select></div>
            </div>





          <div class="form-group">
              <label class="col-sm-3">Description</label>
              <div class="col-sm-9">
                <textarea rows="6"  style="width: 100%" ></textarea>
              </div>
    
            </div>


        
          <div class="form-group">
            <label class="col-sm-3">Price</label>
            <div class="col-sm-9"><input type="text" class="form-control" placeholder="Enter ..."></div>
  
          </div>


          <div class="form-group">
            <label class="col-sm-3" for="exampleInputFile">Picture</label>
            <div class="col-sm-9"><input type="file" id="exampleInputFile"></div>
  
          </div>

          
          <div class="form-group">
            <label class="col-sm-3" for="exampleInputFile">Overview Img</label>
            <div class="col-sm-9"><input type="file" id="exampleInputFile"></div>
  
          </div>


  
        </form>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-default">Discard</button>
        <button type="submit" class="btn btn-success pull-right">Save</button>
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  
  
  </div>